<div class="ui raised segment">
  <h2 class="ui header">FormsModule Example</h2>

  <!--  #formVariable -->
  <form #formVariable="ngForm"
        (ngSubmit)="onSubmit(formVariable.value)"
        class="ui form">

    <div class="field">
      <label for="firstName">First Name</label>
      <input type="text"
             placeholder="First Name"
             name="firstName" ngModel="Jorge">
    </div>

    <div class="field">
      <label for="lastName">Last Name</label>
      <input type="text"
             placeholder="Last Name"
             name="lastName" ngModel>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
